<!doctype html>
<html lang="ru">
<head>
    <meta charset="{{ charset }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ meta.title }}</title>
    <meta name="author" content="Aleksandr Pyshnov">
    <link href ="/core/templates/engine/css/core.css" rel="stylesheet" type="text/css">
    <link href ="/core/templates/backend/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href ="/core/templates/backend/css/animate.css" rel="stylesheet" type="text/css">
    <link href ="/core/templates/backend/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/core/assets/jquery/jquery.min.js"></script>
</head>
<body class="lock-screen">

    <span>Доступ запрещен</span>
    К сожалению, у вас нет прав доступа к этой странице

</body>
</html>