<?php

?>
<div id="right-sidebar">
    <div class="sidebar-container">
        <div id="cronRun" class="setings-item">
            <a href="#">Запустить cron</a>
        </div>
        <div class="setings-item">
            <a data-toggle="collapse" data-target="#collapseCache">Очистить кэш</a>
            <div class="collapse" id="collapseCache">
                <ul>
                    <li><a href="#" data-do="all">Весь кэш</a></li>
                    <li><a href="#" data-do="render">Кэш шаблона</a></li>
                    <li><a href="#" data-do="router">Кэш router</a></li>
                </ul>
            </div>
        </div>
        <div class="setings-item">
            <a href="#">Режим обслуживания</a>
            <br>
            <small class="text-muted">Перевод сайта в автономный режим для обновления и прочих задач технического обслуживания.</small>
        </div>

    </div>

</div>
