<div class="content-header">
    <div class="col-lg-9 col-md-8 col-sm-7">
        <h2>{{ 'user.users'|t }}</h2>
        {{ breadcrumb }}
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="right-btn text-right">
            <a href="#" class="btn btn-green">Добавить пользователя</a>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="content-body__header">
        <h1 class="title">Управление номерами</h1>
        <small>Управление номерами из черного списка</small>
    </div>
    <div class="content-body__body">
        <div class="filter">
            <div class="pull-right blacklist-search">
                <form id="searchPhone">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="sumbit"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
