<div class="content-header">
    <div class="col-lg-12">
        <h2>Помощь и поддержка</h2>
        {{ breadcrumb }}
    </div>
</div>
<div class="content-body">
    <div class="content-body__header">
        <h1 class="title">PyshnovRealty к Вашим услугам</h1>
    </div>
    <div class="content-body__body">

    </div>
</div>